<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layouts/header/common-header :: head(~{::title})}">
    <title>관리자 페이지</title>
</head>
<body class="d-flex flex-column vh-100 bg-light">
    <nav th:replace="~{layouts/navbar :: nav}"></nav>
    <div class="container my-auto">
        <div class="row mb-3">
            <div class="col-12">
                <a th:href="@{/admin/reports/comments}" class="btn btn-primary btn-lg w-100 py-5">
                    댓글 신고 조회
                </a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12">
                <a th:href="@{/admin/reports/articles}" class="btn btn-primary btn-lg w-100 py-5">
                    게시글 신고 조회
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="#" class="btn btn-primary btn-lg w-100 py-5">
                    공지사항 작성
                </a>
            </div>
        </div>
    </div>
    <footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>