<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center py-2 px-2 text-primary" th:href="@{/}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-vector-pen me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
                <path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086z"/>
            </svg>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/articles/list">전체 게시글</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">공지사항</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item" th:if="${memberSessionDto != null}">
                    <a class="btn btn-primary" th:href="@{/members/me}" th:text="마이페이지"></a>
                    <form th:action="@{/logout}" th:method="post" class="d-inline">
                        <button class="btn btn-primary" type="submit">로그아웃</button>
                    </form>
                </li>
                <li class="nav-item" th:unless="${memberSessionDto != null}">
                    <a class="btn btn-primary" type="button" th:href="@{/login}">로그인</a>
                </li>
            </ul>
        </div>
    </div>
</nav>