<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>글쓴이</th>
            <th>작성일</th>
            <th>조회</th>
            <th>추천</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <td th:text="${article.articleId}"></td>
            <td>
                <a th:href="@{|/articles/${article.articleId}|}" class="text-decoration-none" th:text="${article.title}"></a>
            </td>
            <td th:text="${article.nickname}"></td>
            <td th:text="${article.updatedAt}"></td>
            <td th:text="${article.hits}"></td>
            <td th:text="${article.likes}"></td>
        </tr>
        </tbody>
    </table>
    <a th:if="${hasPreviousPage}" th:text="이전" th:href="@{|/members/me/articles?page=${currentPage - 1}|}"></a>
    <a th:text="${currentPage}" th:href="@{|/members/me/articles?page=${currentPage}|}"></a>
    <a th:if="${hasNextPage}" th:text="다음" th:href="@{|/members/me/articles?page=${currentPage + 1}|}"></a>
</body>
</html>