<div th:replace="~{layouts/header}"></div>

<div class="bg-gray-100">
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white p-8 rounded-lg shadow-md w-96">
            <h2 class="text-2xl font-semibold mb-6">회원가입</h2>
            <form th:action th:object="${createMemberDto}" method="post">
                <div class="mb-4">
                    <label for="userId" class="block text-gray-700">아이디</label>
                    <input type="text" id="userId" th:field="*{username}"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                    <p th:errors="*{username}" class="text-red-500"></p>
                </div>
                <div class="mb-4">
                    <label for="password" class="block text-gray-700">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                    <p th:errors="*{password}" class="text-red-500"></p>
                </div>
                <div class="mb-4">
                    <label for="confirmPassword" class="block text-gray-700">비밀 번호 확인</label>
                    <input type="password" id="confirmPassword" th:field="*{confirmPassword}"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                    <p th:errors="*{confirmPassword}" class="text-red-500"></p>
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700">이메일</label>
                    <input type="text" id="email" th:field="*{email}"
                           class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" required>
                    <p th:errors="*{email}" class="text-red-500"></p>
                </div>
                <button type="submit" value="회원 가입"
                        class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600">가입하기</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="~{layouts/footer}"></div>