<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <script src="https://cdn.tailwindcss.com" ></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">
<div class="text-center">
    <h1 class="text-blue-600 text-6xl font-bold">404</h1>
    <h2 class="text-4xl font-bold mt-2">페이지를 찾을 수 없습니다.</h2>
    <div class="mt-6">
        <a href="/" class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700">홈페이지 이동</a>
    </div>
</div>
</body>
</html>