<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layouts/header/common-header :: head(~{::title})}">
    <title>게시글 목록</title>
</head>

<body class="bg-light d-flex flex-column min-vh-100">

<nav th:replace="~{layouts/navbar :: nav}"></nav>

<!-- Content -->
<main class="container mt-5 flex-grow-1">
    <section class="d-flex justify-content-between align-items-center mb-3">
        <h2>게시글 목록</h2>
        <button class="btn btn-primary">글쓰기</button>
    </section>

    <section class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회</th>
                <th>추천</th>
            </tr>
            </thead>
            <tbody>
            <!-- Sample Row -->
            <tr>
                <td>2887</td>
                <td><a class="text-decoration-none" href="#">Test Article</a></td>
                <td>운영자</td>
                <td>24/07/08</td>
                <td>107</td>
                <td>0</td>
            </tr>


            <!-- Add more rows as needed -->
            </tbody>
        </table>
    </section>

    <nav aria-label="Page navigation" class="page-navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <!-- Add more page items as needed -->
        </ul>
    </nav>
</main>
<footer th:replace="~{layouts/footer :: footer}"></footer>
</body>
</html>